<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.contactus.title}">Shaki-US</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<p th:text="#{email.contactus.greeting}">
    Dear
</p>
<p th:text="#{email.contactus.text1(${contactus.email})}">
    Subject
</p>
<p th:text="#{email.contactus.text3(${contactus.content})}">
    Description
</p>
<p>
    <span th:text="#{email.contactus.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.contactus.signature}">Shakti-US.</em>
</p>
</body>
</html>
