<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{email.usersignup.title}">Shaki-US</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="${baseUrl}/favicon.ico" />
</head>
<body>
<p th:text="#{email.usersignup.greeting}">
    Dear
</p>
<p th:text="#{email.usersignup.text1(${usersignup.email})}">
    Subject
</p>
<p th:text="#{email.usersignup.text3(${usersignup.notes})}">
    Description
</p>
<p>
    <span th:text="#{email.usersignup.text2}">Regards, </span>
    <br/>
    <em th:text="#{email.usersignup.signature}">Shakti-US.</em>
</p>
</body>
</html>
