<div>
    <h2 data-translate="shaktiusApp.contactus.home.title">Contactuses</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="contactus.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="shaktiusApp.contactus.home.createLabel">
                        Create new Contactus
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="email"><span data-translate="shaktiusApp.contactus.email">Email</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="mobile"><span data-translate="shaktiusApp.contactus.mobile">Mobile</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="relatedto"><span data-translate="shaktiusApp.contactus.relatedto">Relatedto</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="content"><span data-translate="shaktiusApp.contactus.content">Content</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="name"><span data-translate="shaktiusApp.contactus.name">Name</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="contactus in vm.contactuses track by contactus.id">
                    <td><a ui-sref="contactus-detail({id:contactus.id})">{{contactus.id}}</a></td>
                    <td>{{contactus.email}}</td>
                    <td>{{contactus.mobile}}</td>
                    <td>{{contactus.relatedto}}</td>
                    <td>{{contactus.content}}</td>
                    <td>{{contactus.name}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="contactus-detail({id:contactus.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="contactus.edit({id:contactus.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="contactus.delete({id:contactus.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
