
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myContactusLabel" data-translate="shaktiusApp.contactus.home.createOrEditLabel">Create or edit a Contactus</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.contactus.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.contactus.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="shaktiusApp.contactus.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                    ng-model="vm.contactus.email"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="shaktiusApp.contactus.mobile" for="field_mobile">Mobile</label>
            <input type="text" class="form-control" name="mobile" id="field_mobile"
                    ng-model="vm.contactus.mobile"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="shaktiusApp.contactus.relatedto" for="field_relatedto">Relatedto</label>
            <select class="form-control" name="relatedto" id="field_relatedto" ng-model="vm.contactus.relatedto"
                    ng-options="rel.type as rel.type for rel in vm.related" >
            </select>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="shaktiusApp.contactus.content" for="field_content">Content</label>
            <input type="text" class="form-control" name="content" id="field_content"
                    ng-model="vm.contactus.content"
                    />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
