<div>
    <h2 data-translate="shaktiusApp.locations.home.title">Locations</h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="country"><span data-translate="shaktiusApp.locations.country">Country</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="state"><span data-translate="shaktiusApp.locations.state">State</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="city"><span data-translate="shaktiusApp.locations.city">City</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="locations in vm.locations track by locations.id">
                    <td><a ui-sref="locations-detail({id:locations.id})">{{locations.id}}</a></td>
                    <td>{{locations.country}}</td>
                    <td>{{locations.state}}</td>
                    <td>{{locations.city}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
