
<form name="editForm" role="form" novalidate ng-submit="vm.save()" show-validation>

    <div class="modal-header">
        <h4 class="modal-title" id="myUsersignupLabel" data-translate="shaktiusApp.usersignup.home.createOrEditLabel">User Sign Up</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group">
            <label class="control-label" data-translate="shaktiusApp.usersignup.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                   ng-model="vm.usersignup.name"
                   required/>
            <div ng-show="editForm.name.$invalid">
                <p class="help-block"
                   ng-show="editForm.name.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="shaktiusApp.usersignup.phonenumber" for="field_phonenumber">Phonenumber</label>
            <input type="text" class="form-control" name="phonenumber" id="field_phonenumber"
                   ng-model="vm.usersignup.phonenumber"
                   required/>
            <div ng-show="editForm.phonenumber.$invalid">
                <p class="help-block"
                   ng-show="editForm.phonenumber.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="shaktiusApp.usersignup.email" for="field_email">Email</label>
            <input type="text" class="form-control" name="email" id="field_email"
                   ng-model="vm.usersignup.email"
                   required/>
            <div ng-show="editForm.email.$invalid">
                <p class="help-block"
                   ng-show="editForm.email.$error.required" data-translate="entity.validation.required">
                    This field is required.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="shaktiusApp.usersignup.notes" for="field_notes">Notes</label>
            <input type="text" class="form-control" name="notes" id="field_notes"
                   ng-model="vm.usersignup.notes"
            />
        </div>

    </div>
    <div class="modal-footer">
        <div class="form-group">
            <div re-captcha ng-model="vm.usersignup.captcha"></div>
        </div>
        <div class="g-recaptcha" data-sitekey="6Le-AkcUAAAAABHVWqYrKt3bZBlFApAN4JtOqQhD"></div>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
